html, body {
    height: 100%;
    margin: 0;
    font-size: 3vmin;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    height: 90%;
    width: 90%;
    grid-template-rows: 1fr auto auto;
    grid-template-columns: 1fr 1fr;
}

#loading {
    position: absolute;
    width: 20vh;
}

#fishtext {
    grid-column-start: 1;
    grid-column-end: 3;
}

.cell {
    display: table-cell;
}